.*{
	margin:0;
	padding:0;
}

.background-div{
	overflow: hidden;

    float: left;

	width: 400px;
	height:700px;
	position:relative;
	margin-left: 40%;
}

.move-div{
	height:100%;
	width:400px;
	position: absolute;
	transition-duration: 40ms;
}

.middle-div{
	height:50px;
	width:50px;

	position:absolute;
	top:350px;
	left:190px;
	transition-duration: 400ms;
}
#head-div{
	top:0px;
	left:-20px;
	background: aqua;
}

#tail-div{
	top:0px;
	left:380px;
	background: aqua;
}

#top-barrier{	
	position:absolute;
	top: 0;
	margin-top: 0;
}

#top-barrier2{	
	position:absolute;
	top: 0;
	margin-top: 0;
}

.barrier{
	list-style: none;
	width: 400px;
	height:350px;
}


#bottom-barrier{
	margin-left:22%;
	transform: rotate(180deg);
	position:absolute;
	bottom: 0;
	margin-bottom: 0;
}
#bottom-barrier2{
	margin-left:22%;
	transform: rotate(180deg);

	position:absolute;
	bottom: 0;
	margin-bottom: 0;
}

#bottom-barrier  li{
	bottom: 0;
}

#bottom-barrier2  li{
	bottom: 0;
}

.barrier li{
	background: none;
	float:left;	
	margin-left: 24%;
	background: white;
	width:80px;
	height: 0px;	
}

.bottom-img{
	margin-left: 40%;
	display: block; !important
	position:absolute;
	top:700px;
	height: 80px;
	width:400px;
}

.bk-img{
	width:100%;
	height: 100%;
}


.bottom-img img{
	width: 100%;
	height:100%;
}

.pipe{
    background-color: transparent;
	width:100%;
	height: 100%;
}

#bird-image{
	background-color: transparent;
	transition-duration: 200ms;
	height:100%;
	width:100%;
}

#play-button{
	position:absolute;
	bottom:100px;
	width:120px;
	height: 70px;
	background: none;
	outline: none;
	border:none;
	background-image: url(../img/button_play.png);
	margin-left:150px;
	display: block;
	transition-duration:2s;
}

#title-div{
	position:absolute;
	top:80px;
	margin-left:120px;

}
#gameover-div{
	position:absolute;
	top:150px;
	margin-left:110px;
	display: none;
}
#replay-div{
	display: none;
	background: none;
	outline: none;
	border:none; 
	background-color: transparent;
	position: absolute;
	margin-left:160px;
	top:500px;
}
